* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: #8b8b99;
    --color-while: #ffff;
    --color-green: #2a7d2e;
    --color-grn: #b7dc36;
}

html {
    font-size: 15px;
}

#content-block {
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin-top: 100px;
}

.block-item {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.block-item2 {
    width: 315px;
    height: 315px;
    overflow: hidden;
}

.block-item1 img {
    width: 315px;
    height: 315px;
    object-fit: cover;
}

.block-item2 {
    padding: 50px 50px 50px 40px;
    line-height: 30px;
    box-sizing: border-box;
}

.item2-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.block-item2 .read-more {
    margin-top: 50px;
    display: block;
    text-decoration: none;
    color: var(--color-green);
    padding-left: 50px;
}

.block-item2 h3 {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.item2-text p {
    font-size: 13px;
}

.people-adam {
    color: #927263;
}

.item2-text .july {
    color: var(--color-green);
    font-weight: bold;
}

.block-item2 .read-more:hover {
    color: #927263;
}

.block-all {
    background: rgb(108, 167, 1);
    height: 65px;
    width: 100%;
}

.block-top {
    color: white;
    line-height: 65px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.all-right>a {
    color: white;
    text-decoration: none;
    padding: 0px 15px;
}

.block-item1 {
    position: relative;
    overflow: hidden;
    opacity: 1;
}

.icon-eye {
    z-index: 7;
    position: absolute;
    width: 45px;
    left: 130px;
    top: 130px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    background: rgb(108, 167, 1);
    opacity: 0;
}

.icon-eye .fa-eye {
    font-size: 20px;
    color: var(--color-while);
    line-height: 45px;
}

.block-item1:hover .icon-eye {
    opacity: 1;
}

.block-item1:hover {
    opacity: 0.6;
}